#Wrapper{
    background-color: #e2e2e2;
    background-image: url(/static/img/shadow_light.png);
    background-repeat: no-repeat;
    /*width: 600px;
    height: 800px;*/
}

#wrapper-right{
    float: right;
}