





.cell-item{
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}


.box{
    /*border-radius: 8px;*/
}

.box .inner{
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e2e2e2;
}

.box .inner a{
    display: inline-block;
    /*font-size: 13px;*/
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
}

.box .inner a:hover:not(.tap-current){
    /*color: white;*/
    background: #DDDDDD;
}


.tap-current{
    background-color: black;
    color: white;
}

.item-img{
    float: left;
}

.item-content{
    float: left;
    margin-left: 10px;
}

.item_title a:hover{
    text-decoration: underline;
}

.fade{
    margin-top: 5px;
}

strong{
    color: #778087;
}

.count_livid {
    float: right;
    display: inline-block;
    background-color: #aab0c6;
    /*background-color: #e5e5e5;*/
    border-radius: 12px;
    padding: 2px 10px 2px 10px;
    /*font-weight: bold;*/
    margin-top: 15px;
    margin-right: 5px;
    line-height: 12px;
}

.count_livid a{
    color: white;
}