.box{
    
}

.hreader{
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.sep20{
    background-color: #e2e2e2;
    height: 20px;
}

.fr{
    float: right;
}

small.gray a{
    text-decoration-line: underline;
}

.cell{
    padding: 10px;
     border-bottom: 1px solid #e2e2e2;
}

.comments{
    /*height: 600px;*/
    padding: 10px;
}

/*.comment-list{
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
}*/

.cell textarea{
    width: 100%;
    /*border: none;*/
    maxlength: 100px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

.item-img{
    float: left;
}

.item-content{
    float: left;
    margin-left: 10px;
}