

.detail-content{
    width: 75%;
}

    .hreader{
         padding: 10px 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e2e2;
        line-height: 50px;
    }


    .sep20{
        /*background-color: #e2e2e2;*/
        /*background:rgba(0,0,0,0.1);*/
        height: 20px;
    }

    .fr{
        float: right;
    }

    small.gray a{
        text-decoration-line: underline;
    }


    .jq-html-content{
        padding: 0 30px;
    }

    .comments{
        /*height: 600px;*/
        padding: 10px;
        background-color: white;
    }

    .cell-comment{
        padding: 10px;
        background-color: white;
    }

    /*.comment-list{
        height: 50px;
        border-bottom: 1px solid #e2e2e2;
    }*/

    .cell textarea{
        width: 100%;
        /*border: none;*/
        maxlength: 100px;
        font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    }

    .item-img{
        float: left;
    }

    .item-content{
        float: left;
        margin-left: 10px;
        width: 90%;
        /*width: 640px;*/
    }

    #wangEditor-comment{
        width: 100%;
        height: 300px;
    }

