body{

    background: url(../img/login_background.jpg)  no-repeat;
    
}

.login-main-body{
    margin: 50px auto;
    /*padding: 30px 0 102px;*/
    width: 300px;
    font-size: 18px;
    background: #fff;
}

.login-header{
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
    /*position: relative;*/
}

.switch{
    /*background: gray;*/
    bottom: 0px;
    height: 45px;
    
    padding-top: 20px;
    padding-left: 110px;
}

.switch a{
    margin: 0 20px;
}

.switch a:hover{
   border-bottom: 1px solid black;
}

.web-qr-login{
    height: 150px;
}

.web_login{
    width: 272px;
    margin: 20px auto;
    margin-left: 40px;
}

.web-input{
    margin: 10px 0;
}

.web-input input{
    height: 20px;
        border: 1px solid #D7D7D7;
}

.web-button button{
    
    height: 31px;
    width: 100px;
    border-radius: 4px;
    background: #2795dc;
    margin-top: 6px;
    margin-left: 55px;
    color: white;
    cursor: pointer;
    border-color: #D7D7D7;
}

.web-button button:hover{
    background: #0078b3;
}
