<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
     {% block css %}{% endblock %}
    
    <script src="/static/js/alertify.min.js"></script>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src='/static/js/base.js'></script>


     {% block script %}{% endblock %}

</head>
<body>

    <div class="Top clearfix">
        <div class="content clearfix">
            <div class="top-left ">
                <ul>
                    <a href="/"><img src="{{ url_for('static', filename='img/logo_2x.png') }}"  align="default" alt="iV2EX" ></a>
                    
                    <div class="header-search">
                        <input type="text" maxlength="40" name="q" id="q" value="" />
                    </div>

                </ul>
            </div>

            <div class="top-right">
                <nav class="top-nav">
                    {% if user %}
                        <a class="nav-item" href="{{ url_for('node.index') }}">首页</a>
                        <a class="nav-item" href="">工作空间</a>
                        <a class="nav-item" href="">记事本</a>
                        <a class="nav-item" href="">时间轴</a>
                        <a class="nav-item" href="{{ url_for('user.setting') }}">设置</a>
                        <a class="nav-item logout" href="{{ url_for('user.logout') }}">登出</a>
                    {% else %}
                        <a class="nav-item" href="{{ url_for('node.index') }}">首页</a>
                        <a class="nav-item" href="{{ url_for('user.user') }}">登录/注册</a>
                    {% endif %}

                </nav>
            </div>

            </div>
    </div>

    <div class="clearfix"></div>



    <div id="Wrapper">
        <div id="wrapper-right">
            {% block sidebar %}
            {% endblock %}
         </div>
        
        <div id="wrapper-main">
            {% block content %}
            {% endblock %}
        </div>
            
    </div>


    <div id="Bottom">
        <div class="content">
             <div><a href="/about" class="dark" target="_self">关于</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/faq" class="dark" target="_self">FAQ</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/p/7v9TEc53" class="dark" target="_self">API</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/mission" class="dark" target="_self">我们的愿景</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/ip" class="dark" target="_self">IP 查询</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="https://workspace.v2ex.com/" class="dark" target="_blank">工作空间</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/advertise" class="dark" target="_self">广告投放</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/advertise/2015.html" class="dark" target="_self">鸣谢</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/start" class="dark" target="_blank">上网首页</a> &nbsp; <span class="snow">·</span> &nbsp; 1263 人在线</strong>
            </div>
        </div>


    </div>


</body>
</html>