{% extends "base.html" %}


	{% block title %}{% endblock %}
	{% block css %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/topic_detail.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/topic_index.css') }}">
	{% endblock %}

    <!--{% block script %}
        <script>
            $(document).ready(function(){
                var log = function(){
                    console.log(arguments)
                }

            })
        </script>
    {% endblock %}-->



	{% block sidebar %}
		{% if user %}
			<!--已经登录-->
			<div class="box">
				<div class="cell">
					<img class="avatar" src="{{ user.img_url }}" alt="我的头像">
					<span class="bigger">
						<a href="#">{{ user.username }} </a>
					</span>

					<div class="cell-nav">
						<ul>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>节点收藏</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>主题收藏</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>特别关注</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

			
			<div class="new-item">
				<img width="32" src="{{ url_for('static', filename='img/flat_compose.png') }}">
				<a href="{{ url_for('topic.topic_new') }}">创作新主题</a>
			</div>
		{% else %}
			<!--没登录-->
			<div class="box">
				<div class="cell">
					<h4>v2ex = way to explore</h3>
					<p class="fade">V2EX 是一个关于分享和探索的地方</p>		
				</div>

				<div class="cell">
					<div class="center button">
						<a href="{{ url_for('user.user') }}">现在注册/登录</a>
					</div>	
				</div>

			</div>
		{% endif %}

	{% endblock %}





    {% block content %}
        <div class="box">
            <div class="hreader">
                <div class="fr">
                    <img class="avatar" src="{{ topic_user.img_url }}" alt="用户头像">
                </div>
                
                <a href="/">v2ex</a>
                <h1>{{topic.title}}</h1>
                <small class="gray">
                     <a href="#">{{ topic_user.username }}</a> . <stamp>{{topic.created_time}}</stamp>
                </small>
            </div>

            <div class="cell">
                <!--<pre>-->
                {{topic.content}}
                <!--</pre>-->
    
            </div>
           
        </div>

        <div class="sep20"></div>

        <div class="comments">
        
            {% for c in comment_list[::-1] %}
                <div class="cell clearfix">
                    <div class="item-img">
                        <img class="avatar"  src="{{ c.user.img_url }}" alt="头像">
                    </div>
                    
                    <div class="item-content">
                        <div>
                            {{ c.user.username }} at  <stamp>{{ c.created_time }}</stamp>
                        </div>
                         <div>
                             {{ c.comment }}
                         </div>
                         
                    </div>
                  
                </div>
            {% endfor %} 

        </div>

        {% if user %}
            <div class="sep20"></div>

            <div class="cell">
                添加一条新回复
            </div>

            
                <form action="{{ url_for('detail.comment_add', topic_id=topic.id) }}" method="post">
                   <div class="cell">
                        <textarea rows="10" cols="10"  name="comment" placeholder="comment">
                        </textarea>
                   </div>
                    
                    <div class="cell">
                        <input type="hidden" name="user_id" value="{{ user.id }}" >
                        <input type="submit" value="回复">
                    </div>
                    
                </form>
            
        {% endif %}

    {% endblock %}
<!--id-->




