
{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<title>{% block title %}{% endblock %}</title>
{% endblock %}


{% block body %}
	
	 {% block top %}
	 	{{ super() }}
	 {% endblock %}







        <!--id-->
        <div>
            {{t.id}} {{t.title}} {{t.content}} {{t.created_time}}
        </div>
        <form action="{{ url_for('detail.comment_add', topic_id=t.id) }}" method="post">
            <input type="text" name="comment" placeholder="comment">
            <input type="submit" name="提交">
        </form>

        {% for c in comment_list %}
            <div>
                {{ c.comment }} at {{ c.created_time }} by {{ c.username }}
            </div>
        {% endfor %}


{% endblock %}


