{% extends "base.html" %}


	{% block title %}{% endblock %}



    {% block sidebar %}
        ddd
    {% endblock %}



    {% block content %}
        <div>
            {{t.id}} {{t.title}} {{t.content}} {{t.created_time}}
        </div>
        <form action="{{ url_for('detail.comment_add', topic_id=t.id) }}" method="post">
            <input type="text" name="comment" placeholder="comment">
            <input type="submit" name="提交">
        </form>

        {% for c in comment_list %}
            <div>
                {{ c.comment }} at {{ c.created_time }} by {{ c.username }}
            </div>
        {% endfor %}


    {% endblock %}
<!--id-->




