{% extends "base.html" %}


	{% block title %}创建新主题{% endblock %}


    {% block sidebar %}
        lll
    {% endblock %}


	{% block content %}
    <div>
        <form action="{{ url_for('topic.topic_new') }}" method='post'>
            <input type="text" name="title" placeholder="title">
            <input type="text" name="note_id" placeholder="note_id">
            <textarea rows="10" cols="10" name="content"></textarea>
            <button type="submit">发布</button>
        </form>

    </div>
    {% endblock %}

