
{% extends "base.html" %}


	{% block title %}user{% endblock %}
     {% block css %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/topic_index.css') }}">
     {% endblock %}
    

    {% block sidebar %}
        <div class="box">
				<div class="cell">
					<h4>v2ex = way to explore</h3>
					<p class="fade">V2EX 是一个关于分享和探索的地方</p>		
				</div>

				<div class="cell">
					<div class="center button">
						<a href="{{ url_for('user.user') }}">现在注册/登录</a>
					</div>	
				</div>

		</div>
    {% endblock %}


    {% block content %}
        <div class="login-main-body">

                <div class="login-header">
                    <div class="switch">
                        <a class="switch_btn_focus" href="#">登录</a>
                        <!--<a class="switch_btn" href="#">注册</a>-->
                    </div>
                </div>

                <div class="web-qr-login">
                    <div class="web_login">
                        <form action="{{ url_for('user.login') }}" method="post">
                            <div class="web-input">
                                <label for="username">帐号：</label>
                                <input type="text" name="username" >
                            </div>
                            <div class="web-input">
                                <label for="password">密码：</label>
                                <input type="text" name="password" >
                            </div>                  
                            <div class="web-button">
                                <button type="submit">登录</button>
                            </div>
                        
                    </form>    
                    </div>

                </div>


            </div>



    <div class="login-main-body">

        <div class="login-header">
            <div class="switch">
                <!--<a class="switch_btn_focus" href="#">登录</a>-->
                <a class="switch_btn" href="#">注册</a>
            </div>
        </div>

        <div class="web-qr-login">
            <div class="web_login">
                <form action="{{ url_for('user.register') }}" method="post">
                    <div class="web-input">
                        <label for="username">帐号：</label>
                        <input type="text" name="username" >
                    </div>
                    <div class="web-input">
                        <label for="password">密码：</label>
                        <input type="text" name="password" >
                    </div>                  
                    <div class="web-button">
                        <button type="submit">注册</button>
                    </div>
                
            </form>    
            </div>

        </div>


    </div>



     {% endblock %}

     