{% extends "base.html" %}

    {% block title %}setting{% endblock %}

     {% block css %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/topic_index.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/user_setting.css') }}">
     {% endblock %}

	{% block sidebar %}
		{% if user %}
			<!--已经登录-->
			<div class="box">
				<div class="cell">
					<img src="{{ user.img_url }}" alt="我的头像">
					<span class="bigger">
						<a href="#">{{ user.username }} </a>
					</span>

					<div class="cell-nav">
						<ul>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>节点收藏</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>主题收藏</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="li-bigger">0</span>
									<div class="sep3"></div>
									<span>特别关注</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

			
			<div class="new-item">
				<img width="32" src="{{ url_for('static', filename='img/flat_compose.png') }}">
				<a href="{{ url_for('topic.topic_new') }}">创作新主题</a>
			</div>
		{% else %}
			<!--没登录-->
			<div class="box">
				<div class="cell">
					<h4>v2ex = way to explore</h3>
					<p class="fade">V2EX 是一个关于分享和探索的地方</p>		
				</div>

				<div class="cell">
					<div class="center button">
						<a href="{{ url_for('user.user') }}">现在注册/登录</a>
					</div>	
				</div>

			</div>
		{% endif %}

	{% endblock %}

        {% block content %}
        <div class="box">
            <div class="cell">
                <a href="/">V2EX</a>
                <span class="chevron">&nbsp;›&nbsp;</span>
                设置
            </div>


            <div class="cell">
                <form action="{{ url_for('user.setting') }}" method="post">
                 <table>
                    <tbody>
                        <tr>
                            <td width="120" align="right">用户名</td>
                            <td width="auto" align="left">{{ user.username }}</td>
                        </tr>

                        <tr>
                            <td width="120" align="right">电子邮件</td>
                            <td width="auto" align="left">
                                <input type="text" name="email"> 
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">签名</td>
                            <td width="auto" align="left">
                                <input type="text" name="signed">
                            </td>
                        </tr>

                        <tr>
                            <td width="120" align="right">个人简介</td>
                            <td width="auto" align="left">
                                <textarea rows="10" cols="30" name="brief"></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td width="120" align="right">
                                <button type="submit">保存设置</button>
                            </td>
                        </tr>

                    </tbody>
                 </table>
                </form>

                

                </form>

 
                 <div class="update-img">
                    <form action="{{ url_for('user.update_img') }}" method="post">
                        <img src="{{ user.img_url }}" alt="当前图像">
                        <input type="file" name="file" accept="image/*">
                        <button type="submit">开始上传</button>
                    </form>
                 </div>


            </div>
            



        </div>





     {% endblock %}


